---
layout: category
permalink: /azure/
title: Posts about "Azure"
---
<h1>Azure</h1>

<div class="card">
  {% for post in site.categories['azure'] %}

  {% if post.tags contains "primeros-pasos" %}
  <h2>Comenzando con Azure</h2>
  <img src="{{ site.baseurl }}/images/microsoft-azure.jpg" alt="Screenshot" class="screenshot editable" />
  <div>
    <p>Deseas conocer lo que Azure puede hacer. Tómate tiempo para conocer beneficios y funciones principales
    </p>
  </div>
  <div>
    <a href="primeros-pasos/"> Ver artículos</a>
  </div>

  <article class="post">
    <h3>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h3>
    <!--
      <div>
      <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
    </div>
  -->
    <div class="entry">
      {{ post.excerpt }}
    </div>
    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">
      Read More
    </a>
  </article>
  {% endif %}
  {% endfor %}
</div>
