---
layout: category
permalink: /azure/
title: Posts about "Azure"
---

<div class="card">
  {% for post in site.categories['azure'] %}

  {% if post.tags contains "comenzando" %}
  <article class="post">
    <h2>
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h2>
    <div>
      <p class="post_date">{{ post.date | date: "%B %e, %Y" }}</p>
    </div>
    <div class="entry">
      {{ post.excerpt }}
    </div>
    <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">
      Read More
    </a>
  </article>
  {% endif %}
  {% endfor %}
</div>