---
title: Sobre nosotros
description: >-
Brindamos asesorías personalizadas para incorporar los servicios de IT en la nube
más adecuados para su empresa.
---
<h1>
	Sobre nosotros
</h1>

<div>
	<div>
		<h2>
			¿Quiénes somos?
		</h2>
	</div>

	<p style="margin-top: 5pt; margin-bottom: 5pt; font-family: Calibri; font-size: 11.0pt;" lang="es-TRAD">Somos
		<strong>Nova Cloud</strong>, una división
		tecnológica de Cóndor Comunicaciones
		que ha nacido para ofrecer
		<strong>soluciones en la
			nube</strong> dinámicas y
		pensadas para cubrir las nuevas
		necesidades de las empresas.
	</p>
</div>



<!--<p class="editor-link" style="text-align: center;"><a href="cloudcannon:collections/_staff_members/" class="btn"><strong>&#9998;</strong> Manage Staff members</a></p>-->
<ul class="staff">
	{% for person in site.staff_members %}
	<li>
		<div class="square-image"><img src="{% include relative-src.html src=person.image_path %}"
				alt="{{ person.name }}" /></div>
		<div class="name"><a target="_blank" href="https://twitter.com/{{ person.twitter }}">{{ person.name }}</a></div>
		<div class="position">{{ person.position }}</div>
	</li>
	{% endfor %}
</ul>