<nav>

	<div>

		{% for link in site.data.navigation %}
		{% assign class = "" %}
		{% if link.highlight %}
		{% assign class = class | append: " highlight" %}
		{% endif %}
		{% if link.link == page.url %}
		{% assign class = class | append: " active" %}
		{% endif %}


		<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window
			%}target="_blank" {% endif %}>{{ link.name }}</a>



		{% for submenu in link.submenu %}
		{% if link.link == page.url or submenu.link == page.url %}


		{% if submenu.link == page.url %}
		{% assign submenuclass = class | append: " active" %}
		{% endif %}

		<a href="{{ submenu.link }}" class="{{ submenuclass }}">{{ submenu.name }}</a>

		{% endif %}

		{% endfor %}

		{% endfor %}

	</div>
</nav>