<div class="dropdown">
	<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
		aria-expanded="false">
		Dropdown button
	</button>
	<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
		<li><a class="dropdown-item" href="#">Action</a></li>
		<li><a class="dropdown-item" href="#">Another action</a></li>
		<li><a class="dropdown-item" href="#">Something else here</a></li>
	</ul>
</div>

<nav>

	{% for link in site.data.navigation %}
	{% assign class = "" %}
	{% if link.highlight %}
	{% assign class = class | append: " highlight" %}
	{% endif %}


	{% if link.link == page.url %}
	{% assign class = class | append: " active" %}
	{% endif %}


	<a href="{% include relative-src.html src=link.link %}" class="{{ class }}" {% if link.new_window %}target="_blank"
		{% endif %}>{{ link.name }}</a>


	{% comment %}

	Prueba submenu
	---------------------

	{% endcomment %}

	{% for submenu in link.submenu %}
	{% if link.link == page.url or submenu.link == page.url %}

	{% if submenu.link == page.url %}
	{% assign submenuclass = class | append: " active" %}
	{% endif %}

	<a href="{{ submenu.link }}" class="{{ submenuclass }}">{{ submenu.name }}</a>

	{% endif %}
	{% endfor %}





	{% endfor %}



</nav>