.first-section{
margin-top: 50px;
font-family: Montserrat;
}
.first-section h1{
font-size: 56px;
font-weight: 400;
line-height: 80px;
margin-bottom: 40px;
}
.first-section h2{
    font-size: 36px;
    font-weight: 400;
    line-height: 50px;
}
.first-section p{
color: #0B84D6;
font-weight: 500;
font-size: 24px;
line-height: 36px;
}
.button a.btn-homepage{
    float: right;
}
.button a.btn-homepage:hover{
background-color: $white;
}
.first-section p.editables{
    color: #000;
    font-weight: 700;
    }
.servicios-it{
    margin-bottom: 50px;
}
.btn-homepage{
    background: #0B84D6;
    color: #fff;
    border-radius: 6px;
}
.btn-homepage:hover{
    background: #fff;
    color: #0B84D6;
    border-color: #0B84D6;
}
.second-section{
    background: #0B84D6;
    color: #fff;
   padding: 20px 0;
}
