.first-section{
margin-top: 50px;
}
.first-section h1{
font-size: 56px;
font-weight: 400;
line-height: 80px;
}
.first-section p{
color: #0B84D6;
font-weight: 500;
font-size: 24px;
}
.btn-homepage{
    background: #0B84D6;
    color: #fff;
    border-radius: 6px;
}
.btn-homepage:hover{
    background: #fff;
    color: #0B84D6;
    border-color: #0B84D6;
}