.first-section{
    margin-top: 50px;
    font-family: Montserrat;
    h1{
        font-size: 56px;
        font-weight: 400;
        line-height: 80px;
        margin-bottom: 40px;
    }
    h2{
        font-size: 36px;
        font-weight: 400;
        line-height: 50px;
    }
    p{
        color: #0B84D6;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        }
        p.editables{
            color: #000;
            font-weight: 700;
            }
}


.button a.btn-homepage{
    float: right;
    
    &:hover{
        background-color: $white;
        border: 1px solid #0B84D6;
        }
}
.button a.btn-blue{
    color: $brand-color;
    background-color: $white;
    border: 1px solid #0B84D6;
    &:hover{
        background-color: $brand-color;
        border: 1px solid #0B84D6;
        color: $white;
        }
}

.servicios-it{
    margin-bottom: 50px;
}
.btn-homepage{
    background: #0B84D6;
    color: #fff;
    border-radius: 6px;
    
    &:hover{
        background: #fff;
        color: #0B84D6;
        border: 1px solid #0B84D6;
    }
}

.second-section{
    background: #0B84D6;
    color: #fff;
    padding: 60px 0;
    font-family: Montserrat;
    h2{
        font-size: 48px;
        font-weight: 400;
        line-height: 72px;
    }
    h3{
        font-size: 24px;
        font-weight: 700;
        line-height: 36px;
    }
    p{
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        color: rgba(255, 255, 255, 0.8);
    }
}

.first-column, .second-column{
    margin-bottom: 40px;
}
.recursos-gratis ul{
    list-style: none;
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    background: #f5f5f5;

    li p{
        width: 643px;
    }
}
.third-section{
    font-family: Montserrat;
}
