.microsoft365{
    padding: 0;
    margin-bottom: 60px;
    .first-section{ 
        text-align: center;
        img.logo{
        width: 45%;
        margin: 0 auto;
         display: block;
         }
         p{
            font-size: 20px;
            line-height: 30px;
            color: #596780;
            opacity: 0.6;
         }
    }
        img.img-pages{
        border-radius: 10px;
    }
}
