.microsoft365{
    padding: 0;
    margin-bottom: 60px;
    .first-section{ 
        text-align: center;
        img.logo{
        width: 45%;
        margin: 0 auto;
         display: block;
         }
         p{
            font-size: 20px;
            line-height: 30px;
            color: #596780;
            opacity: 0.6;
            margin: 40px auto;
            width: 75%;
         }
         h2{
            font-weight: 700;
         }
    }

}
img.img-pages{
    border-radius: 10px;
}
.articulos{
    h3{
        color:#F24E1E;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
    }
    p{
        font-size: 20px;
        line-height: 30px;
        color: #596780;
        opacity: 0.6;
    }
    .post{
        img{
            height: 280px;
        }
        h3 a{
            color: $black;
        }
    }
}
