.microsoft365{
    padding: 0;
    margin-bottom: 60px;
    .first-section{ 
        text-align: center;
        img.logo{
        width: 35%;
        margin: 0 auto;
         display: block;
         }
         p{
            font-size: 20px;
            line-height: 30px;
            color: #596780;
            opacity: 0.6;
            margin: 40px auto;
            width: 75%;
         }
         h2{
            font-weight: 700;
         }
    }
    @media screen and (min-width: 786px) {
        ul{
            margin-left: 65px;
           }
        
    }
    img.img-pages{
        height: 450px;
        object-fit: cover;
    }
    li{
        h4{
            font-weight: 600;
            font-size: 24px;
            line-height: 36px;
        }
        p{
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            color: #596780;
        }
    }
}
.microsoft365.azure ul{
    margin-left: 10px;
}
img.img-pages{
    border-radius: 10px;
}
.articulos{
    @media screen and (min-width: 786px) {
    .introduccion{
        margin-bottom: 40px;
    }
    }
    h3{
        color:#F24E1E;
        font-weight: 600;
        font-size: 20px;
        line-height: 30px;
    }
    p{
        font-size: 20px;
        line-height: 30px;
        color: #596780;
        
    }
    .post{
        img{
            height: 280px;
            object-fit:cover;
        }
        h3 a{
            color: $black;
            font-size: 24px;
            line-height: 36px;
        }
        h3 a:hover{
            text-decoration: underline;
        }
        p{
            color: #596780;
            
            font-size: 16px;
            line-height: 24px;
        }
    }
}
