#sib-container input:-ms-input-placeholder {
    text-align: left;
    font-family: "Helvetica", sans-serif;
    color: #ffffff;
}

#sib-container input::placeholder {
    text-align: left;
    font-family: "Helvetica", sans-serif;
    color: #ffffff;
}

#sib-container textarea::placeholder {
    text-align: left;
    font-family: "Helvetica", sans-serif;
    color: #ffffff;
}
.sib-form{
    padding: 0 !important;
    border-radius: 28px;
}
#sib-form{
    p{
        color:$white;
        text-align:center;
    }
}
