$brand-color: #0B84D6;
$secondary-brand-color: #0053D7;
$white: #fff;
$black: #000;
$middle-gradient-color: mix($brand-color, $secondary-brand-color, 95%);

// Breakpoints
$tablet: "(min-width: 450px)";
$mid-point: "(min-width: 620px)";
$desktop: "(min-width: 768px)";
