---
layout: default
---


<div class="content">
    <section class="page">





        <ul class="staff">

            <li>
                <div class="square-image"><img src="{% include relative-src.html src=page.image_path %}"
                        alt="{{ page.name }}" /></div>
                <h2>{{ page.name }}</h2>
                <h3>{{ page.position }}</h3>
                <div class="name"><a target="_blank" href="https://twitter.com/{{ page.twitter }}">Twitter</a></div>
                <div class="name"><a target="_blank" href="https://linkedin.com/in/{{ page.linkedin }}">LinkedIn</a>
                </div>


            </li>

        </ul>

        {{ content }}
    </section>

    <h2>Publicaciones</h2>
    <ul>
        {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
        {% for post in filtered_posts %}
        <li><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
    </ul>

</div>