---
layout: default
---

<div class="content" style="background-image: url('{{ site.baseurl }}{{ page.background-image }}'); background-repeat: no-repeat; background-attachment: fixed;
  background-size: cover;">


    <div class="container {% if page.full_width %}max-container{% endif %}">
        <div class="row">
            <div class="col-xs-12">


            </div>
        </div>
        <div class="row">

            <div class="landing-page-content">
                <div class="col-lg-4 justify-content-xs-center">
                    {% if page.heading %}
                    <h1>{{ page.heading }}</h1>

                    {% elsif page.title and page.layout != 'archive' %}
                    <h1>{{ page.title }}</h1>
                    {% endif %}

                    {% if page.description %}
                    <p>{{ page.description }}</p>
                    {% endif %}


                    {{ content }}

                    </p>
                </div>
            </div>

            <div class="col-lg-4 justify-content-xs-center">
                <div class="image" data-aos="flip-right">
                    <img class="img-thumbnail" src="{{ site.baseurl }}{{ page.thumbnail }}" alt="">
                </div>
            </div>

            <div class="col-lg-8 align-self-center">
                <div class="block">




                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 align-self-center">
                    {{ page.form }}
                </div>
            </div>
        </div>


    </div>
</div>

</div>