---
layout: default
---

<div class="landing-page-content" style="background-image: url('{{ site.baseurl }}{{ page.background-image }}'); background-repeat: no-repeat; background-attachment: fixed;
  background-size: cover;">


    <div class="container {% if page.full_width %}max-container{% endif %}">
        <div class="row">


            <div class="col-lg-3 justify-content-xs-center">
                <div class="image">
                    <img class="img-thumbnail" src="{{ site.baseurl }}{{ page.thumbnail }}" alt="">
                </div>
            </div>
            <div class="col-lg-5 align-self-center">
                {% if page.heading %}
                <h1>{{ page.heading }}</h1>

                {% elsif page.title and page.layout != 'archive' %}
                <h1>{{ page.title }}</h1>
                {% endif %}

                {% if page.description %}
                <p>{{ page.description }}</p>
                {% endif %}
            </div>



            <div class="row">
                <p class="content">
                    {{ content }}

                </p>
            </div>



            <div class="col-lg-8 align-self-center">
                <div class="form-group">
                    {{ page.form }}



                </div>
            </div>

        </div>



    </div>
</div>