---
layout: page
---
{% capture read_time %}
{{ page.content | number_of_words | divided_by: 180 }}
{% endcapture %}
<section class="blog-post">
	<div class="container">
		{% comment %}{% include breadcrumbs.html %} {% endcomment %}
		<div class="justify-content-start">
			<div class="col-8">


				{% include post-title.html post=page %}
			</div>

			<div class="col-xs-12">

				<div class="post-content">
					{% if page.thumbnail %}
					<div>
						<img src="{{ site.baseurl }}{{ page.thumbnail }}" class="post-image eightypercent">
					</div>
					{% endif %}

					<div class="post-author">
						{% assign author = site.authors | where: 'short_name', page.author | first %}
						{% if author %}<a href="{{ author.url }}">
							<div><img src="{% include relative-src.html src=author.image_path %}"
									alt="{{ author.name }}" />
							</div>
							<p>
								{{ author.name }}
						</a>
						{% endif %}
					</div>

					<div class="post-snippet eightypercent">

						{{ page.snippet }}
					</div>

					{% if page.toc %}
					<div class="toc eightypercent">
						<p>En este artículo</p>
		
						{% include toc.html html=content %}
					</div>
					{% endif %}
					<div class="blog-articles">
					{{ content | inject_anchors }}
					</div>

				</div>
				<div class="">
					<p>
					<div class="author eightypercent">
						{% assign author = site.authors | where: 'short_name', page.author | first %}
						{% if author %}
						<div class="col-md-3">
						<div class="square-image">
							<img src="{% include relative-src.html src=author.image_path %}"
								alt="{{ author.name }}" />
						</div>
						</div>
						<div class="col-md-9">
						<p>
							<a href="{{ author.url }}">{{ author.name }}</a><br />
							{{ author.position }}
						</p>
						<p class="">
							{{ author.content }}
						</p>
						</div>
						{% endif %}
					</div>
					</p>
				</div>
			</div>

			<div class="justify-content-start">
				<div class="col-xs-12">
					<div class="related-posts">
						<h4>Seguir leyendo</h4>

						{% include related.html %}

					</div>
				</div>
			</div>



			<div class="row">
				<div class="col-md-6">
					<h4>Suscribirse a nuestro boletín</h4>
					{% include sib-form.html %}
				</div>
				<div class="col-md-3">
					<div class="list-group">
						<h5>Artículos Populares</h5>

						{% for post in site.posts limit:5 %}
						<a href="{{ post.url }}" class="list-group-item">{{ post.title }}</a>
						{% endfor %}
					</div>
				</div>
				<div class="col-md-3">
					<h5>Últimos artículos</h5>

					{% for post in site.posts limit:5 %}
					<a href="{{ post.url }}" class="list-group-item">{{ post.title }}</a>
					{% endfor %}
				</div>
			</div>

			{% if site.disqus_shortname and page.comments %}
			<div id="disqus_thread"></div>
			<script>
				var disqus_shortname = '{{ site.disqus_shortname }}';
				var disqus_config = function () {
					this.page.url = "{{ page.url | prepend: site.url }}";
					this.page.identifier = "{{ page.id }}";
				};

				(function () {  // DON'T EDIT BELOW THIS LINE
					var d = document, s = d.createElement('script');
					s.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					s.setAttribute('data-timestamp', +new Date());
					(d.head || d.body).appendChild(s);
				})();
			</script>
			<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript"
					rel="nofollow">comments powered by Disqus.</a></noscript>
			{% endif %}
		</div>

</section>
